<div class="card mb-4 shadow-sm">
    <div class="card-header">
    <h4 class="my-0 font-weight-normal text-center">Selecciona par ver el resultado de procesar el archivo</h4>
    </div>
    <div class="card-body">
    <h3 class="card-title pricing-card-title"></h3>
    <a class="btn btn-secondary d-block mb-2" href="~/ReportPartners/Exercise1">Ejercicio 1</a>
    <a class="btn btn-secondary d-block mb-2" href="~/ReportPartners/Exercise2">Ejercicio 2</a>
    <a class="btn btn-secondary d-block mb-2" href="~/ReportPartners/Exercise3">Ejercicio 3</a>
    <a class="btn btn-secondary d-block mb-2" href="~/ReportPartners/Exercise4">Ejercicio 4</a>
    <a class="btn btn-secondary d-block mb-2" href="~/ReportPartners/Exercise5">Ejercicio 5</a>
    </div>
</div>