@page "/logs"
@using ChallengeRecursiva.Business.Models.Logs
@using ChallengeRecursiva.Business.Specifications.Logs
@inject ChallengeRecursiva.Business.Interfaces.ILogService Service

<h3>Listado de Logs del sistema</h3>

<div>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Titulo</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in logs)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.Title</td>
                    <td><button>Ver</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<LogDTO> logs = new List<LogDTO>();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        var spec = new LogFilterByTitleSpec("First");
        
        logs = await Service.GetAll(spec);
   }
}
