@page "/logs"
@using ChallengeRecursiva.Business.Models.Logs
<h3>LogPage</h3>

@code {
    private List<LogDTO> _logs;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
